In [11]:
import pandas as pd
import numpy as np
from env import host, user, password
from pydataset import data

url = f'mysql+pymysql://{user}:{password}@{host}/employees'

In [12]:
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

#### #1 Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

In [13]:
def get_db_url(user, password, host, db_name):
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'
get_db_url(user,password,host, 'Mammals')
Mammals_url = get_db_url(user,password,host, 'Mammals')

In [17]:
def get_db_url(user, password, host, db_name):
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'
url = get_db_url(user,password,host, 'employees')

#### #2 Use your function to obtain a connection to the employees database.

In [9]:
from env import host, user, password

ImportError: cannot import name 'get_db_url' from 'env' (/Users/natasharivers/codeup-data-science/numpy-pandas-visualization-exercises/env.py)

#### #3 Once you have successfully run a query:

#### #3.a Intentionally make a typo in the database url. What kind of error message do you see?

#### #3.b b. Intentionally make an error in your SQL query. What does the error message look like?

#### #4 Read the employees and titles tables into two separate DataFrames.

#### #5 How many rows and columns do you have in each DataFrame? Is that what you expected?

#### #6 Display the summary statistics for each DataFrame

In [6]:
employees = pd.read_sql('SELECT * FROM employees, url)

SyntaxError: EOL while scanning string literal (<ipython-input-6-d4bc4cfe49aa>, line 1)

#### #7 How many unique titles are in the titles DataFrame?

In [ ]:

#titles.title.unique().shape

#pd.read_sql('SELECT DISTINCT title FROM titles', url).shape[0]

#### #8 What is the oldest date in the to_date column?

In [ ]:
(3 different ways)
#titles_df.to_date.sort_values().head(1)
#titles_df.to_date.min()
#min(titles_df['to_date'])

#### #9 What is the most recent date in the to_date column?