#### #1 Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

In [1]:
import pandas as pd
import numpy as np

In [7]:
def get_db_url(host, user, password):
    url = f'mysql+pymysql://{user}:{password}@{host}/employees'
    return url

#### #2 Use your function to obtain a connection to the employees database.

In [9]:
from env import host, user, password

ImportError: cannot import name 'get_db_url' from 'env' (/Users/natasharivers/codeup-data-science/numpy-pandas-visualization-exercises/env.py)

In [6]:
employees = pd.read_sql('SELECT * FROM employees, url)

SyntaxError: EOL while scanning string literal (<ipython-input-6-d4bc4cfe49aa>, line 1)

In [ ]:
#7
#titles.title.unique().shape

#pd.read_sql('SELECT DISTINCT title FROM titles', url).shape[0]

In [ ]:
#8 (3 different ways)
#titles_df.to_date.sort_values().head(1)
#titles_df.to_date.min()
#min(titles_df['to_date'])

In [ ]:
#9