# EXERCISES I:

In [2]:
import pandas as pd
import numpy as np
from env import host, user, password
from pydataset import data

url = f'mysql+pymysql://{user}:{password}@{host}/employees'

In [ ]:
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url)

#### #1 Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

In [ ]:
def get_db_url(user, password, host, db_name):
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'
get_db_url(user,password,host, 'Mammals')
Mammals_url = get_db_url(user,password,host, 'Mammals')

In [ ]:
def get_db_url(user, password, host, db_name):
    return f'mysql+pymysql://{user}:{password}@{host}/{db_name}'
url = get_db_url(user,password,host, 'employees')

#### #2 Use your function to obtain a connection to the employees database.

In [ ]:
get_db_url(user,password,host, 'employees')
emp_url = get_db_url(user,password,host, 'employees')

#### #3 Once you have successfully run a query:

#### #3.a Intentionally make a typo in the database url. What kind of error message do you see?

#### #3.b b. Intentionally make an error in your SQL query. What does the error message look like?

#### #4 Read the employees and titles tables into two separate DataFrames.

In [ ]:
employees_df = pd.read_sql('SELECT * FROM employees LIMIT 5', url)
employees_df

In [ ]:
titles_df = pd.read_sql('SELECT * FROM titles LIMIT 5', url)
titles_df

In [ ]:
employees_df = pd.read_sql('SELECT * FROM employees', url)
titles_df = pd.read_sql('SELECT * FROM titles', url)

#### #5 How many rows and columns do you have in each DataFrame? Is that what you expected?

In [ ]:
employees_df.shape

In [ ]:
titles_df.shape

#### #6 Display the summary statistics for each DataFrame

In [ ]:
employees_df.describe()

In [ ]:
employees_df.describe(include = 'all')

In [ ]:
#this includes the desciption of only the int columns
employees_df.describe(exclude = np.number)

#### #7 How many unique titles are in the titles DataFrame?

In [ ]:
titles_df['title'].unique()
#this shows WHAT the unique titles are

In [ ]:
len(titles_df['title'].unique())
#this shows HOW MANY unique titles there are

#### #8 What is the oldest date in the to_date column?

In [ ]:
#this is one way
titles_df.to_date.sort_values().head(1)

In [ ]:
#another way
titles_df.to_date.min()

In [ ]:
#another way
min(titles_df['to_date'])

#### #9 What is the most recent date in the to_date column?

In [ ]:
max(titles_df['to_date'])

# EXERCISES II:

#### #1 Copy the users and roles DataFrames from the examples above.

In [ ]:
users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})
users

In [ ]:
roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})
roles

#### #2 What is the result of using a right join on the DataFrames?

In [ ]:
(users.merge(roles, 
            left_on='role_id', 
            right_on='id', 
            how='right')    
)

In [ ]:
#just out of curiosity- left join
(users.merge(roles, 
            left_on='role_id', 
            right_on='id', 
            how='left')    
)

#### #3 What is the result of using an outer join on the DataFrames?

In [ ]:
(users.merge(roles, 
            left_on='role_id', 
            right_on='id', 
            how='outer')
    .drop(columns='role_id')
    .rename(columns={'id_x': 'id', 
                     'name_x': 'employee',
                     'id_y': 'role_id',
                     'name_y': 'role'}
            )
)
#cleaned up with renamed columns

#### #4 What happens if you drop the foreign keys from the DataFrames and try to merge them?

#### #5 Load the mpg dataset from PyDataset.

In [3]:
from pydataset import data

In [4]:
mpg_df = data('mpg')

#### #6 Output and read the documentation for the mpg dataset.

In [5]:
mpg_df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

#### #7 How many rows and columns are in the dataset?

In [6]:
mpg_df.shape
#234 columns
#11 rows

(234, 11)

#### #8 Check out your column names and perform any cleanup you may want on them.

In [7]:
mpg_clean = mpg_df.rename(columns ={'cty':'city', 'hwy':'highway'})
#replaced cty with city, and hwy with highway

mpg_df.columns = map(str.title, mpg_clean.columns)
# this capitalizes first letter of column titles

mpg_clean

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

#### #9 Display the summary statistics for the dataset.

In [8]:
mpg_df.describe()

            Displ         Year         Cyl        City     Highway
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

#### #10 How many different manufacturers are there?

In [9]:
#My proccess:
#first, I asked myself how to retrieve JUST the manufacturers
mpg_df['Manufacturer']
#this is called "bracket notation"

1            audi
2            audi
3            audi
4            audi
5            audi
          ...
230    volkswagen
231    volkswagen
232    volkswagen
233    volkswagen
234    volkswagen
Name: Manufacturer, Length: 234, dtype: object

In [10]:
#then, I found out what the unique manufacturers were
mpg_df['Manufacturer'].unique()

array(['audi', 'chevrolet', 'dodge', 'ford', 'honda', 'hyundai', 'jeep',
       'land rover', 'lincoln', 'mercury', 'nissan', 'pontiac', 'subaru',
       'toyota', 'volkswagen'], dtype=object)

In [11]:
#then, I wrapped that in a 'len' to get the count of unique manufacturers
len(mpg_df['Manufacturer'].unique())

15

#### #11 How many different models are there?

In [12]:
len(mpg_df['Model'].unique())

38

#### #12 Create a column named mileage_difference like you did in the DataFrames exercises; this column should contain the difference between highway and city mileage for each car.

In [13]:
mpg_df['mileage_difference'] = mpg_df['Highway']- mpg_df['City']
mpg_df

,Manufacturer,Model,Displ,Year,Cyl,Trans,Drv,City,Highway,Fl,Class,mileage_difference
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9

#### #13 Create a column named average_mileage like you did in the DataFrames exercises; this is the mean of the city and highway mileage.

In [14]:
mpg_df['average_mileage'] = (mpg_df['Highway'] + mpg_df['City']) / 2
mpg_df

,Manufacturer,Model,Displ,Year,Cyl,Trans,Drv,City,Highway,Fl,Class,mileage_difference,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5

#### #14 Create a new column on the mpg dataset named is_automatic that holds boolean values denoting whether the car has an automatic transmission.

In [19]:
mpg_df['is_automatic'] = mpg_df['Trans'].str.contains('auto')                     
mpg_df

,Manufacturer,Model,Displ,Year,Cyl,Trans,Drv,City,Highway,Fl,Class,mileage_difference,average_mileage,is_automatic
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5,True
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0,False
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5,False
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5,True
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5,True
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,25.0,False
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0,True
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,22.0,False
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5,True

#### #15 Using the mpg dataset, find out which manufacturer has the best miles per gallon on average?

In [25]:
mpg_df.sort_values(['average_mileage'], ascending =(False)).head(1)

,Manufacturer,Model,Displ,Year,Cyl,Trans,Drv,City,Highway,Fl,Class,mileage_difference,average_mileage,is_automatic
222,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,9,39.5,False

#### #16 Do automatic or manual cars have better miles per gallon?