In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# EXERCISES PART I:

In [3]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
type(fruits)

pandas.core.series.Series

In [82]:
#another way to do this
#fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
#fruits = pd.Series(fruits)

Use Series attributes and methods to explore your fruits Series.

1. Determine the number of elements in fruits.

2. Output only the index from fruits.

3. Output only the values from fruits.

4. Confirm the data type of the values in fruits.

5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

7. Run the code necessary to produce only the unique string values from fruits.

8. Determine how many times each unique string value occurs in fruits.

9. Determine the string value that occurs most frequently in fruits.

10. Determine the string value that occurs least frequently in fruits.

In [37]:
#1 Determine the number of elements in fruits.
fruits.size
#fruits.shape <-- another way to do it/ returns (17, )

17

In [38]:
#2 Output only the index from fruits.
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [39]:
#3 Output only the values from fruits.
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [40]:
#4 Confirm the data type of the values in fruits.
fruits.dtype

dtype('O')

In [41]:
#5 Output only the first five values from fruits. 
fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [42]:
# Output the last three values. 
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [76]:
# Output two random values from fruits.
fruits.sample(2)

6     tomato
16    papaya
dtype: object

In [44]:
#6 Run the .describe() on fruits to see what information it returns when called on a Series with string values.
fruits.describe()
#returns different summarization depending on data type

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [86]:
#7 Run the code necessary to produce only the unique string values from fruits.
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [87]:
fruits.nunique()
#returns the unique value COUNT

13

In [46]:
#8 Determine how many times each unique string value occurs in fruits.

In [47]:
len(fruits.unique())

13

In [77]:
fruits.value_counts()
#return each item with count

kiwi                4
mango               2
blackberry          1
gala apple          1
strawberry          1
pineapple           1
gooseberry          1
honeydew            1
honeycrisp apple    1
blueberry           1
tomato              1
papaya              1
watermelon          1
dtype: int64

In [78]:
order_by = fruits.value_counts()

In [79]:
#9 Determine the string value that occurs most frequently in fruits
order_by.nlargest(n =1)

kiwi    4
dtype: int64

In [89]:
fruits.value_counts().head(1)
#also. returns most frequent

kiwi    4
dtype: int64

In [91]:
fruits.value_counts().idxmax()
#max value /most requent

'kiwi'

In [92]:
fruits.value_counts().nlargest(n=1, keep='all')
#chain onto value_count INSTEAD of creating new variable

kiwi    4
dtype: int64

In [73]:
#10 Determine the string value that occurs least frequently in fruits.
order_by.nsmallest(n=1, keep = 'all')

blackberry          1
gala apple          1
strawberry          1
pineapple           1
gooseberry          1
honeydew            1
honeycrisp apple    1
blueberry           1
tomato              1
papaya              1
watermelon          1
dtype: int64

In [4]:
fruits.value_counts().nsmallest(n=1, keep='all')
#least frequently occurring

gala apple          1
papaya              1
tomato              1
gooseberry          1
pineapple           1
honeycrisp apple    1
blackberry          1
blueberry           1
honeydew            1
strawberry          1
watermelon          1
dtype: int64

# EXERCISES PART II:

Explore more attributes and methods while you continue to work with the fruits Series.

1. Capitalize all the string values in fruits.

2. Count the letter "a" in all the string values (use string vectorization).

3. Output the number of vowels in each and every string value.

4. Write the code to get the longest string value from fruits.

5. Write the code to get the string values with 5 or more letters in the name.

6. Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

7. Write the code to get only the string values containing the substring "berry".

8. Write the code to get only the string values containing the substring "apple".

9. Which string value contains the most vowels?

In [81]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [82]:
#1 Capitalize all the string values in fruits.
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [83]:
#2 Count the letter "a" in all the string values (use string vectorization).
fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [84]:
#3 Output the number of vowels in each and every string value.
fruits.str.count(r'[aeiou]')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [85]:
#4 Write the code to get the longest string value from fruits.
fruits.map(lambda fruits: len(fruits)).max()

16

In [86]:
fruits.str.len()

0      4
1      5
2     10
3      9
4     10
5     16
6      6
7     10
8      8
9      4
10     4
11     4
12     5
13     9
14    10
15    10
16     6
dtype: int64

In [87]:
#5 Write the code to get the string values with 5 or more letters in the name

fruits[fruits.str.len() >5]

2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [88]:
#6 Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.
fruits[fruits.apply(lambda str: "o" in str)]

1                mango
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
15          gooseberry
dtype: object

In [93]:
#7 Write the code to get only the string values containing the substring "berry".
fruits[fruits.apply(lambda str: 'berry' in str)]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [94]:
#8 Write the code to get only the string values containing the substring "apple"
fruits[fruits.apply(lambda str: 'apple' in str)]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [75]:
#9 Which string value contains the most vowels?
fruits.str.count(r'[aeiou]').nlargest(n=1, keep ='all')

5    5.0
dtype: float64