In [64]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

pandas is built on top of NumPy

Overview:
   - open source python library
   - very fast
   - structured data stored in DataFrames (tables)
   - Series(coulmns) handle any data type
        -homogenous data type in each series
   - LOTS of vectorized functions and built in attributes

#Dataframe= select * from employees

#Column Labels = df.columns

#index label = df.index

#enire datafame = df.values

#just one column is called a series

In [12]:
colors = ['red', 'yello', 'green', 'blue']
##create a dataframe from python list
pd.Series(colors)

0      red
1    yello
2    green
3     blue
dtype: object

In [13]:
data = {'a': 0, 'b':1, 'c':2, 'd':3 }
pd.Series(data)
#create a dataframe from python dictionary

a    0
b    1
c    2
d    3
dtype: int64

In [16]:
#series.size
#returns the size

METHODS: 
    
    series.head(n=5) 
    #default sent to return first 5 rows
    
    series.tail(n=5) 
    #default sent to return last 5 rows
    
    series.value_counts()
    #return new series. index is unique values

# Vectorized operations

In [17]:
colors = ['red', 'yello', 'green', 'blue']
colors_series = pd.Series(colors)
colors_series.str.capitalize()
#capitalizes all

0      Red
1    Yello
2    Green
3     Blue
dtype: object

PANDAS:

    - index starts at 0
    - one dimensional
    - forces into ONE data type

# EXAMPLES ON CREATING PANDA SERIES

In [20]:
numbers_series = pd.Series([100, 43, 26, 17, 17])
type(numbers_series)

pandas.core.series.Series

In [28]:
numbers_series

0    100
1     43
2     26
3     17
4     17
dtype: int64

In [24]:
letters_series = pd.Series(['a', 'b', 'c'])
letters_series

0    a
1    b
2    c
dtype: object

# VECTORIZED OPERATIONS:

In [29]:
numbers_series +1
#adds one to the series

0    101
1     44
2     27
3     18
4     18
dtype: int64

In [30]:
numbers_series / 2

0    50.0
1    21.5
2    13.0
3     8.5
4     8.5
dtype: float64

In [31]:
numbers_series == 17
#gives trie of false, bool series

0    False
1    False
2    False
3     True
4     True
dtype: bool

# SERIES ATTRIBUTES:

In [33]:
numbers_series.index
#returns the range

RangeIndex(start=0, stop=5, step=1)

In [34]:
numbers_series.values

array([100,  43,  26,  17,  17])

In [35]:
numbers_series.dtype
#types of series: int, float, bool, object(string), category

dtype('int64')

In [37]:
numbers_series.name = "numbers"
numbers_series
#names the series

0    100
1     43
2     26
3     17
4     17
Name: numbers, dtype: int64

In [38]:
numbers_series.size
#will give you the size

5

In [39]:
numbers_series.shape
#number of rows, includes nulls

(5,)

# SERIES METHODS:

In [41]:
numbers_series.head()
#returns first (5) by default, but can change to whatever you want

0    100
1     43
2     26
3     17
4     17
Name: numbers, dtype: int64

In [42]:
numbers_series.head(2)
#returns first 2

0    100
1     43
Name: numbers, dtype: int64

In [44]:
numbers_series.tail()
#last(5) by default

0    100
1     43
2     26
3     17
4     17
Name: numbers, dtype: int64

In [45]:
numbers_series.sample()
#returns random

2    26
Name: numbers, dtype: int64

In [47]:
floats = pd.Series([3,4,5,6]).astype('float')
floats
#forcing the integer to become a float

0    3.0
1    4.0
2    5.0
3    6.0
dtype: float64

In [49]:
floats.astype('int')
#forces float back to int

0    3
1    4
2    5
3    6
dtype: int64

In [50]:
pd.Series(['a', 'b', 'a', 'c', 'b', 'a', 'd','a']).value_counts()
#tells you HOW MANY times it occurs in your series

a    4
b    2
c    1
d    1
dtype: int64

In [51]:
numbers_series.describe()
#returns descriptive stats on series column

count      5.000000
mean      40.600000
std       34.861153
min       17.000000
25%       17.000000
50%       26.000000
75%       43.000000
max      100.000000
Name: numbers, dtype: float64

In [52]:
{'count': numbers_series.count(),
'sum': numbers_series.sum(),
'mean': numbers_series.mean()}

{'count': 5, 'sum': 203, 'mean': 40.6}

## .nlargest, .nsmallest

In [53]:
numbers_series.nlargest(n=1)
#by default returns (5)
# index and value (0, 100)

0    100
Name: numbers, dtype: int64

In [56]:
numbers_series.nsmallest(n=1, keep ='all')
#if duplicate. it will return ALL of the smallest

3    17
4    17
Name: numbers, dtype: int64

## .sort_values, .sort_index

In [58]:
letters_series.sort_values()
#returns values in accending order
#returns (index and value - 0,a)

0    a
1    b
2    c
dtype: object

In [59]:
letters_series.sort_values(ascending=False)
#returns the descending order
#shift + tab inside () will give you details

2    c
1    b
0    a
dtype: object

In [60]:
letters_series.sort_values(ignore_index=True)

0    a
1    b
2    c
dtype: object

In [62]:
letters_series.sort_index()
#sort by index order

0    a
1    b
2    c
dtype: object

In [63]:
letters_series.sort_index(ascending=False)
#reverse index order

2    c
1    b
0    a
dtype: object

# INDEXING AND SUBSETTING

In [65]:
numbers_series

0    100
1     43
2     26
3     17
4     17
Name: numbers, dtype: int64

In [66]:
bools = numbers_series > 40
bools
#checks each element to see if it meets the condition (>40)

0     True
1     True
2    False
3    False
4    False
Name: numbers, dtype: bool

In [67]:
numbers_series[bools]
#gives back values in the index

0    100
1     43
Name: numbers, dtype: int64

In [68]:
#SAME AS
numbers_series[numbers_series >40] #<-- this is subsetting

0    100
1     43
Name: numbers, dtype: int64

## .str attribute

In [72]:
string_series = pd.Series(['Hello', 'CodeuP', 'StuDenTs'])
string_series

0       Hello
1      CodeuP
2    StuDenTs
dtype: object

In [73]:
string_series.str.lower()
#this will lowercase all

0       hello
1      codeup
2    students
dtype: object

In [74]:
string_series.str.replace('e', '_')
#replaces every "e" with "_"

0       H_llo
1      Cod_uP
2    StuD_nTs
dtype: object

In [76]:
string_series
#original series still intact

0       Hello
1      CodeuP
2    StuDenTs
dtype: object

In [77]:
string_series.str.lower().str.replace('e', '_')
#does both ,lowercase and replaces
#this is called "method chaining"

0       h_llo
1      cod_up
2    stud_nts
dtype: object

In [78]:
string_series.str.lower().str.startswith('h')
#does this start with 'h'? if yes, True. (hello starts with h)

0     True
1    False
2    False
dtype: bool

In [79]:
string_series[string_series.str.lower().str.startswith('h')]
#returns values that meet condition,starts with h

0    Hello
dtype: object

In [80]:
string_series
#again, original series intact

0       Hello
1      CodeuP
2    StuDenTs
dtype: object

## .any, .all

In [82]:
numbers_series <0
#none are smaller than 0

0    False
1    False
2    False
3    False
4    False
Name: numbers, dtype: bool

In [83]:
(numbers_series <0).any()
#are there ANY less then 0?

False

In [84]:
(numbers_series <0).all()

False

In [85]:
(numbers_series >0).any()
#are ANY of them greater than 0?

True

In [86]:
(numbers_series >0).all()
#are ALL of them greater then 0?

True

## .isin method

In [88]:
vowels = list('aeiou')
vowels

['a', 'e', 'i', 'o', 'u']

In [89]:
letters = list('abcdefghijk')
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [90]:
letters_series = pd.Series(letters)
letters_series
#create a series from letters list

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
dtype: object

In [91]:
letters_series.isin(vowels)
#are there any vowels in letters_series? at each index

0      True
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8      True
9     False
10    False
dtype: bool

In [92]:
letters_series[letters_series.isin(vowels)]
#shows you at which index there IS a vowel

0    a
4    e
8    i
dtype: object

## .apply

In [93]:
def even_or_odd(n):
    if n % 2 ==0:
        return 'even'
    else:
        return 'odd'
    
#create a function first. 
    
numbers_series.apply(even_or_odd)
#run the method on the function you created

#will apply whether the element is odd or even

0    even
1     odd
2    even
3     odd
4     odd
Name: numbers, dtype: object

In [94]:
numbers_series.apply(lambda n: 'even' if n % 2 == 0 else 'odd')
#returns the same as above. just as a one-liner

0    even
1     odd
2    even
3     odd
4     odd
Name: numbers, dtype: object